body {
    padding: 10px;
    max-width: 800px;
    line-height: 1.5;
    margin: auto;
    font-family: fa5-proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fcfcfc
}

.container {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: auto;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    padding: 1rem;
    border-radius: .25rem;
    background-color: white;
}

pre {
    white-space: pre-wrap !important;
    font-family: "Arial";
}

a {
    color: #2196F3;
    text-decoration: none;
}

a>h2 {
    color: black;
}

h2 {
    margin-top: 0em !important;
    -webkit-margin-before: 0em !important;
    margin-bottom: 0.60em !important;
    -webkit-margin-after: 0.60em !important;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}


/*
 * Watermark
 */

#my-watermark {
    display: flex;
    /* equal height of the children */
    height: auto;
}

#ss-watermark {
    background-color: #eee;
    padding: 5px 5px 0px 5px;
}

.textmark {
    background-color: #eee;
    /* width:100%; */
    padding: 3px 9px 3px 7px;
}

.textvia {
    color: #777 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}


/*
 * Toolbar
 */

#preview {
    /* float: right; */
    position: relative;
    cursor: pointer;
    background-color: #2196F3;
    color: white;
    border: 0px solid #3e87ec;
    border-radius: 1px;
    padding: 6px 9px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5px;
}
#preview:focus {
    outline: none;
}
#preview.on:after {
    content: "Hide";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px 9px;
    font-size: 14px;
    font-weight: 600;
    background: #2196F3;
    border-radius: 1px;
}

#ssimg {
    width: 100%;
    display: none;
    margin-top: 20px;
    -moz-transform: scale(1);
    transform: scale(1);
    margin-bottom: 15px;
}

.sub-container {
    position: relative;
    margin-bottom: 2rem;
    width: auto;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    border-radius: .25rem;
    background-color: white;
}

.flex-box {
    display: flex;
    /* equal height of the children */
}

#flex-icon1 {
    color: #111111;
    background-color: #ddd;
    font-size: 19px;
    width: 3rem;
    padding: 10px;
}

#flex-content1 {
    background-color: #f6f6f6;
    width: 100%;
    padding: 10px;
}

#flex-icon2 {
    color: red;
    background-color: #FFcccc;
    font-size: 22px;
    width: 3rem;
    padding: 10px;
}

#flex-content2 {
    background-color: #fff6f6;
    width: 100%;
    padding: 10px;
}

#flex-icon3 {
    vertical-align: middle;
    color: #2196F3;
    font-size: 30px;
    margin-right: 5px;
}
